header {
  text-align: end;
  padding: 20px;
  margin-right: 50px;
}

.bi {
  background-color: aqua;
}

.trans {
  background-color: blueviolet;
}

.default {
  background-color: rgb(240, 239, 241);
}

.a {
  background-color: black;
}
