header {
  text-align: end;
  padding: 20px;
  margin-right: 50px;
}

.bi {
  background-color: aqua;
  color: red;
  height: 100vh;
}

.trans {
  background-color: blueviolet;
  color: rgb(240, 239, 241);
  height: 100vh;
}

.default {
  background-color: rgb(211, 196, 226);
  color: blue;
  height: 100vh;
}
