header {
  text-align: end;
  padding: 20px;
  margin-right: 50px;
}

.default {
  background-color: rgb(154, 150, 158);
  color: rgb(38, 38, 170);
  height: 100vh;
  user-select: none;
}

.bi {
  background-image: linear-gradient(180deg, #B00B69, #A55EA7, #1D1CC9);
  color: rgb(255, 255, 255);
  height: 100vh;
  user-select: none;
}

.gay {
  background-image: linear-gradient(180deg, #E40303, #FF8C00, #FFED00, #008026, #004DFF, #750787);
  color: rgb(192, 27, 165);
  height: 100vh;
  user-select: none;
}

.trans {
  background-image: linear-gradient(180deg, #55CDFC, #F5ABBB, #F1F1F1, #F5ABBC,#55CDFC);
  color: rgb(112, 38, 187);
  height: 100vh;
  user-select: none;
}

.pan {
  background-image: linear-gradient(180deg, #FF218C, #FFD800, #21B1FF);
  color: rgb(90, 33, 146);
  height: 100vh;
  user-select: none;
}

.non-binary {
  background-image: linear-gradient(180deg, #FCF434, #FCFCFC, #9C59D1, #2C2C2C);
  color: rgb(95, 16, 173);
  height: 100vh;
  user-select: none;
}

.fluid{
  background-image: linear-gradient(180deg, #FF75A2, #F1F1F1, #BE18D6, #2C2C2C, #333EBD);
  color: rgb(58, 38, 78);
  height: 100vh;
  user-select: none;
}

.button.is-link {
  background-color: #242631;
}

.button.is-link:hover {
  background-color: #4f5575;
}